@using MvcKutuphane.Models.Entity
@model List<TBLyazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>DETAY</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var y in Model)
            {
                <tr>
                    <td>@y.ID</td>
                    <td>@y.AD</td>
                    <td>@y.SOYAD</td>
                    <td>@y.DETAY</td>
                    <td><a href="/Yazar/YazarSil/@y.ID" class="btn btn-danger">Sil</a></td>>               
                    <td><a href="/Yazar/YazarGetir/@y.ID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
</table>
<a class="btn btn-primary" href="/Yazar/YazarEkle/">Yeni Yazar Ekle</a>

